body {
    background-color: rgb(214, 208, 208);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.move-element {
    opacity: 0;
    transform: translateY(6.25rem);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.move-element.visible {
    opacity: 1;
    transform: translateX(0);
}

header {
    background-color: rgb(8, 8, 8);
    grid-template-columns: auto 1fr auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
}

.logo {
    display: flex;
    width: 20rem;
    margin-right: 1.875rem;
    margin-bottom: 0.125rem;
    align-items: center;
    padding: 0.125rem;
}

.menu {
    background-color: rgb(152, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.botoes {
    margin-top: 0.9375rem;
}

.botoes ul {
    display: flex;
    list-style: none;
    margin-left: 3.125rem;
    padding: 0.625rem 1.25rem;
    gap: 0.9375rem;
    align-items: center;
    border-radius: 1.5625rem;
}

.btn-hover:hover {
    background-color: #3b3b3b;
}

.botoes ul li a {
    text-decoration: none;
    background-color: dimgrey;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 0.625rem;
    border-radius: 1.5625rem;
    border: 0.25rem;
    transition: background-color 0.3s ease;
}

.redes {
    width: 0.625rem;
    list-style: none;
    padding-left: 0.625rem;
}

.redes ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.redes li {
    display: flex;
    align-items: center;
}

.redes p {
    padding-left: 5.9375rem;
}

.redes img {
    width: 1.25rem;
}

/* Formulário */

h1 {
    font-size: 1.4rem;
    margin-top: 2.1875rem;
    display: flex;
    justify-content: center;
    font-style: oblique;
}

.contato .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 56.25rem;
    margin: auto;
    padding: 1.25rem;
}

.formulario {
    width: 45%;
}

fieldset {
    border: 0.125rem solid black;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario p {
    height: 0.9375rem;
    margin: 0.625rem 0 0.3125rem;
}

.formulario input,
.formulario select {
    margin-top: 0.625rem;
    width: 70%;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
}

.formulario button {
    background-color: gray;
    color: white;
    border: none;
    padding: 0.625rem;
    cursor: pointer;
}

.formulario button:hover {
    background-color: dimgrey;
}

.mapa iframe {
    display: flex;
    justify-content: center;
    border: 0.0625rem solid black;
    width: 31.25rem;
    height: 24.375rem;
}

/* Rodapé */

.rodape {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape ul {
    list-style: none;
    display: flex;
}

.meio {
    padding-left: 5rem;
    padding-right: 5rem;
}

.direita {
    padding-right: 1.875rem;
}

.rodape ul li img {
    display: flex;
    width: 10.625rem;
    margin-right: 1.875rem;
    margin-bottom: 0.125rem;
    padding: 0.125rem;
}

.rodape ul li p {
    font-size: 0.6875rem;
    color: #333;
}
