body{
    background-color:rgb(214, 208, 208) ;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.move-element {
    opacity: 0;
    transform: translateY(100px); /* Inicia fora da tela (à esquerda) */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Animações suaves */
}

/* Estilo quando o elemento se torna visível na tela */
.move-element.visible {
    opacity: 1;
    transform: translateX(0); /* Move para a posição original */
}

header {
    background-color:rgb(8, 8, 8);
    grid-template-columns: auto 1fr auto;
    width: 96.9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* A imagem já ficará na primeira coluna (esquerda) */
.logo {
    display: flex;
    width: 320px;
    margin-right: 30px;
    margin-bottom: 2px;
    align-items: center;
    padding: 2px;
}

.menu{
    background-color:rgb(152, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;  /* Remove qualquer margem inferior do menu */
    padding-bottom: 0; /* Remove qualquer padding inferior do menu */
}

.botoes {
    margin-top: 15px;
}

.botoes ul {
    display: flex;
    list-style: none; /* remove as bolinhas */
    margin-left: 50px;
    padding: 0;
    gap: 15px; /* espaçamento entre os itens, opcional */
    align-items: center; /* alinha verticalmente se necessário */
    border-radius: 25px; /* Borda arredondada */
    padding: 10px 20px; /* Espaçamento interno */
}

.btn-hover:hover {
    background-color: #3b3b3b; /* Cor que aparece quando o mouse passar por cima */
}

.botoes ul li a {
    text-decoration: none;
    background-color: dimgrey;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 10px; /* Aumenta o tamanho do botão */
    border-radius: 25px; /* Deixa o botão arredondado */
    border: 4px; /* Aqui aumenta a borda */
    transition: background-color 0.3s ease;
}

.redes{
    width: 10px;
    list-style: none; /* remove as bolinhas */
    padding-left: 10px;

}

.redes ul {
    list-style: none;
    padding-left: 0;
    display: flex; /* Alinha os itens em linha */
    align-items: center; /* Alinha verticalmente */
    gap: 15px; /* Espaço entre os elementos */

}

.redes li {
    display: flex;
    align-items: center;
}

.redes p {
    padding-left: 95px;
}

.redes img{
    width: 15px;
}

/*Servio*/

.titulo {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 50px; /* opcional: dá um espaço abaixo se quiser */
}

.titulo h1 {
    margin-bottom: 5px; /* opcional: separa o h1 do h3 */
    color: #333333;
    text-decoration: underline;
}

.titulo h3 {
    color: #333333;
    text-decoration: underline;
    
}

.container-slider {
    width: 100%;
    border-radius: 10px;
}

.servico{
    margin-left: 99px;
    background-color: rgb(152, 148, 148);
    border-radius: 20px;
    width: 80%;
    margin-bottom: 2%;
    padding-top: 10px;
    padding-left: 73px;
    padding-bottom: 10px;
}

.slider{
    width: 97%;
    height: 100%;  /* Garante que a altura da imagem será igual à altura definida para o contêiner */
    border-radius: 10px;
    opacity: 0;
    transition: opacity .2s;
}

.on{
    opacity: 1;
}


.container-imagem {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    gap: 10px; /* Espaço entre as imagens, opcional */
    margin-top: 10px; /* Espaço entre o parágrafo e as imagens */
    margin-bottom: 10px; /* Espaço antes do botão */
    
}

.container-imagem img{
    width: 15%; 
}

.servico button{
    display: block;
    margin-left: auto;
    margin-right: 20px; /* opcional, só pra não grudar na borda */
    padding: 9px 10px;
    color: lightgray;
    background-color: dimgray;
    border: 2px solid dimgray;
    border-radius: 17px;
}


/*Rodapé*/

.rodape{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.rodape ul {
    list-style: none;
    display: flex;
}

.meio{
    padding-left: 80px;
    padding-right: 80px;
}

.direita{
    padding-right: 30px;
}

.rodape ul li img{
    display: flex;
    width: 170px;
    margin-right: 30px;
    margin-bottom: 2px;
    padding: 2px;
}

.rodape ul li p{
    font-size: 11px;
    color: #333;
}
